* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

div {
  text-align: center;
}

div.img {
  display: block;
  text-align: center;
  margin: 20px auto;
  max-width: 980px;
  width: 100%;
}

div.img img {
  width: 200px;
  height: auto;
  margin: 20px;
}

header {
  min-height: 80px;
  background: #F3F6FA;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

input[type=text] {
    background: #fff;
    border: 1px solid #D3DBE5;
    border-radius: 3px;
    font-size: 1em;
    font-family: "Roboto";
    font-weight: 300;
    padding: 10px 0 10px 10px;
    width: 440px;

}

/* Lightbox Styling */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border: none;
  border-radius: 0px;
}

.lb-outerContainer {
  border-radius: 0px;
}

lb.nav a {
  position: absolute;
  width: 60%;
}

.lb-nav a.lb-next {
  right: -10%;
}

.lb-nav a.lb-prev {
  left: -10%;
}

.lb-data .lb-details {
  text-align: center;
  float: none;
  width: 100%;
  margin-top: 20px;
  font-family: 'Roboto';
  font-weight: 300;
}

.lb-closeContainer {
  display: none;
}
